<div class="wrapper">
    <div class="container">
    <div class="row">
        {{#if message}}
        <div class="alert alert-warning">{{message}}</div>
        {{else}}
        <div>{{common_msg_loading}}</div>
        {{/if}}
    </div>
    </div>
</div>